# Build directories
build/
bin/
obj/
out/

# Compiled executables
/readeasy
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.lo
*.slo

# Static libraries
*.a
*.lib

# Shared libraries
*.so
*.dylib
*.dll

# Precompiled headers
*.gch
*.pch

# Dependency files
*.d

# Log files
*.log

# IDE-specific
# CLion, IntelliJ
.idea/
# VS Code
.vscode/
# Vim
*.swp
*.swo
*~

# OS-specific
# macOS
.DS_Store
# Windows
Thumbs.db

# Temporary files
*.tmp
*.temp
